.amount-column {
font-size: 36;
font-weight: 700;
line-height: 100%;
color: black;
align-items: left;
}

.items-column {
font-size: 36;
font-weight: 700;
line-height: 100%;
color: black;
align-items: right;
}