.amount-column {
width: 297;
height: 45;
font-size: 36;
font-weight: 700;
line-height: 100%;
text-align: right;
color: black;
}

.items-column {
width: 230;
height: 45;
font-size: 36;
font-weight: 700;
line-height: 100%;
color: black;
}