.bills-label {
    margin: 0;
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black; 
    align-items: left;
}

.bills-amount {
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black;
    align-items: right;
}