.bills-label {
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black; 
}

.bills-amount {
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black;
}