.app-title {
    padding: 10px 20px;
    width: 190;
    height: 51;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: rgba(22.94, 106.38, 166.81, 1);
}