.total-label {
  padding: 5px 5px;
  font-size: 36;
  font-style: italic;
  color: black;
  align-items: left;
}

.total-amount {
  padding: 5px 20px;
  font-size: 36;
  font-style: italic;
  color: black;
  align-items: right;
}