.scheduled-label {
    font-size: 36;
    font-style: italic;
    color: black;
    align-items: left;
}

.scheduled-amount {
    font-size: 36;
    font-style: italic;
    color: black;
    align-items: right;
}