.today-group {
    position: center;
    background-color: rgba(230.56, 230.56, 230.56, 1);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border-style: solid;
    border-width: 3;
    border-color: black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: ;
}

.today-currency {
    position: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    color: rgba(41.17, 131.75, 82.84, 1);
}

.today-amount {
    position: center;
    margin: 20px 0;
    padding: 20px;
    width: relative;
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    color: rgba(41.17, 131.75, 82.84, 1);
}