.bills-label {
    padding: 5px 5px;
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black; 
    align-items: left;
}

.bills-amount {
    padding: 5px 20px;
    font-size: 36;
    font-style: italic;
    line-height: 100%;
    color: black;
    align-items: right;
}